{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <!-- Link Display -->
     <meta property="og:title" content="Ultrasound Africa CPD">
     <meta property="og:description" content="Ultrasound Africa is a voluntary provider of Continuous Professional Development programmes and training in ultrasound to members of professional bodies and teaching institutions.">
     <meta property="og:type" content="website">
     <meta property="og:url" content="https://ultrasoundafrica.com">
     <meta property="og:image" content="gallery/0.JPEG">
     <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->

<h2 class="text-center">Logged Out Successfully. <br> Thank you for using our system!</h2>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>


  </body>
</html>
